<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleDoor"
        tools:targetApi="31">
        <activity
            android:name=".activity.RevenueWithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RevenueActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WithdrawalStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddBankActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SelectBankActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreatePost"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MyPost"
            android:exported="false" />
        <activity
            android:name=".activity.THAddSessionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DailyGeneralActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.UpdateProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChatUi.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".activity.ThProfileDetails"
            android:exported="false" />
        <activity
            android:name=".activity.ProfilePicUploadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.drForms.ActivityUploadOtherDocument"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityAddAppreciation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityAddAddress"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityLanguageSelection"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityAddEducationForm"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityAddExpertise"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.drForms.ActivityAddExperience"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DoctorRegistrationMaster"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.TermsAndCondition"
            android:exported="false" />
        <activity
            android:name=".activity.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MCQActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BasicDetailsForm"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.OTPVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.WelcomeBanner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ChatUi.liveStreaming.LiveStreaming"
            android:exported="false" />
        <activity
            android:name=".ChatUi.liveStreaming.DigiLiveStartPoint"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_pQVzKuWl7tuXu1" />
    </application>

</manifest>